<main class="container my-4" role="main" aria-label="Información sobre Sport Fast">
  <h1 class="text-center mb-5" tabindex="0">BIENVENIDO A SPORT FAST</h1>

  <img src="img/mas/tienda.svg" alt="Interior de la tienda Sport Fast" class="img-fluid mx-auto d-block mb-3" />
  <br />
  <p>
    En SPORT FAST, nos apasiona el deporte tanto como a ti. Desde nuestra fundación en Almería, España, en 2018, hemos trabajado para ofrecer ropa deportiva de alta calidad diseñada para mejorar tu rendimiento y brindarte el confort que necesitas en cada entrenamiento. Ya sea que estés en el gimnasio, al aire libre o practicando tu deporte favorito, nuestras prendas te acompañarán en cada movimiento, ayudándote a alcanzar tus metas.
  </p>

  <h2 class="my-4">Nuestra Misión:</h2>
  <p>
    En SPORT FAST, nuestra misión es proporcionarte ropa deportiva innovadora que combine estilo, funcionalidad y tecnología. Nos esforzamos en crear prendas que se adapten a tus necesidades, con materiales que favorecen la transpiración, el movimiento y la durabilidad, manteniéndote fresco y cómodo en todo momento.
  </p>
  <br />

  <img src="img/mas/tiendadentro.svg" alt="Personas comprando en la tienda Sport Fast" class="img-fluid mx-auto d-block mb-3" />

  <h2 class="my-4">Categorías Destacadas</h2>
  <h3 class="my-3">Ropa de Entrenamiento:</h3>
  <p>
    Prepárate para cualquier sesión de entrenamiento con nuestra colección de camisetas, pantalones cortos, leggings y más, diseñados para ofrecer máxima libertad de movimiento y transpirabilidad.
  </p>

  <h3 class="my-3">Ropa para Running:</h3>
  <p>
    Corre sin límites con nuestra línea de ropa para corredores. Fabricada con tejidos ligeros y de secado rápido, está diseñada para mantenerte cómodo en cada kilómetro.
  </p>

  <h2 class="my-4">Innovación y Sostenibilidad:</h2>
  <p>
    Estamos comprometidos con la innovación y el cuidado del medio ambiente. Nuestras prendas están fabricadas con materiales reciclados y sostenibles, sin comprometer el rendimiento ni la durabilidad. Porque creemos que ser responsables con el planeta es parte de ser un atleta completo.
  </p>

  <button class="btn btn-outline-primary my-4" aria-label="Únete a la Comunidad SPORT FAST (en desarrollo)">
    Únete a la Comunidad SPORT FAST (en desarrollo)
  </button>
</main>
